header {
        background-color: black;       
}
.tacita {
        background-color: rgb(230, 130, 130,25%) ;
         
}
.botellita {
        background-color: rgb(230, 130, 130,25%) ;
         
}
.ymas {
        background-color: rgb(230, 130, 130,25%) ;
         
}