@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.headerindex {


}

.prueba{
        
        text-align: center;
        font-family:"Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;

        
}
.prueba1{
        text-align: center;

}
.taboymas {

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(189, 12, 145, 0.25) ;
        width: 300px;
        height: 70px;
        text-align: center;
        
         
}
 div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/img/tazas.png");
 }
 body{
        background: linear-gradient(rgba(250, 249, 250, 0.93),rgba(250, 249, 250,0.93)),
        url("../img/tazas.png");
        
 }

 h1{

        background-color: rgba(189, 12, 145, 0.25);
        text-align: center;
                          
 }

 

 .sectiontazas{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100hv;
 }

 .sectionymas{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100hv;
 }

 .galeria{

         background-color: rgba(189, 12, 145, 0.25);
         width: 500px;
         height: 300px;
         margin: 10px;
         border: 1px solid rgb(141, 79, 240);
            
         }
 
 

